RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteBase /angular_spa/
RewriteRule ^input /angular_spa/ [L]
RewriteRule ^confirm /angular_spa/ [L]
RewriteRule ^comp /angular_spa/ [L]
